:root {
  --primary-color: #2196f3;
  --footer-and-section-color: #2f303a;
  --second-primary-color: #212121;
  --third-primary-color: #757575;
  --basic-white-color: #ffffff;
  --background-dark-transparent: #2f303a66;
  --social-links-color: #afb1b8;
  --gray-color: #ffffff1a;
  --popraw: #f5f4fa;
  --border-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
}

.logo-font {
  color: var(--primary-color);
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 31px;
  letter-spacing: 0.03em;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.span-head {
  color: #000000;
}

.logo-font:hover,
.menu:hover {
  color: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-font,
.menu:focus {
  color: var(--primary-color);
}

.menu {
  color: var(--second-primary-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.02em;
  border-radius: 2px;
  padding: 32px 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  border-bottom: 4px solid var(--primary-color);
}

.site-nav {
  border-bottom: 2px solid #ececec;
  display: flex;
  align-items: center;
}

.ul-info-links {
  display: flex;
  padding: 0;
  column-gap: 46px;
  margin-left: 93px;
}

.link-list {
  margin: 32px 0;
  list-style: none;
}

.contact {
  display: flex;
  column-gap: 50px;
  margin-left: auto;
}

.contact-links {
  color: var(--third-primary-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
  fill: currentColor;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-links:hover .contact-icon {
  fill: var(--primary-color);
  text-decoration: underline;
}

.contact-links:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.wrapper {
  display: flex;
  align-items: center;
}

.headline-one {
  font-style: normal;
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--basic-white-color);
  text-align: center;
  box-sizing: border-box;
}

.section-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 106px 0px;
}

.section {
  padding: 94px 0;
  margin: 0 auto;
}

.section-info {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
  letter-spacing: 0.03em;
  max-width: 1600px;
}

.hero-bg {
  background: linear-gradient(
      var(--background-dark-transparent),
      var(--background-dark-transparent)
    ),
    url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.button-click {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--primary-color);
  box-shadow: #00000f;
  border-radius: 4px;
  color: var(--basic-white-color);
  border: none;
  outline: none;
  margin-top: 30px;
  font-style: Bold;
  font-size: 16px;
  line-height: 30px;
  line-height: 160%;
}

.button-click:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.article-info {
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.headline-two {
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-primary-color);
  padding-bottom: 10px;
}

.pictures {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.titles {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.titles-box-p {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 27px 90px 27px 90px auto;
  font-size: 0.875rem;
  color: var(--basic-white-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  vertical-align: middle;
  width: 370px;
  height: 70px;
  background-color: #2f303acc;
  opacity: 88%;
}

.titles-team {
  background-color: #f5f4fa;
  text-align: center;
  row-gap: 30px;
}

.li-no-list {
  padding-top: 10px;
  border-radius: 0px 0px 4px 4px;
  position: relative;
}

.li-no-list img {
  vertical-align: middle;
}

.our-team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.lorem-section {
  display: flex;
  gap: 30px;
  max-width: 1200px;
}

.position {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--third-primary-color);
}

.no-list {
  list-style: none;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--basic-white-color);
}

.list-style {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--third-primary-color);
}

.team {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--third-primary-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.johndoe {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--second-primary-color);
}

.footer-logo {
  color: var(--primary-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.span-footer {
  color: var(--basic-white-color);
}

.contact-info:hover,
.footer-logo:hover {
  text-decoration: underline;
  color: var(--primary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info-mail:hover {
  text-decoration: underline;
  color: var(--primary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-info {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
.contact-info {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff99;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-info-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff99;
  text-decoration: underline;
  text-decoration-color: var(--third-primary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-div {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.footer-info {
  background-color: var(--footer-and-section-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.city-street {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--basic-white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.city-street:hover {
  color: var(--primary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ul-info-port {
  list-style: none;
}

.portfolio-card {
  /* box-shadow:  */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--basic-white-color);
}

.wrapper-port {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 94px;
  padding-bottom: 50px;
}

.names {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 36px;
  letter-spacing: 0.06%;
  color: var(--second-primary-color);
  padding-left: 24px;
  padding-right: 24px;
}

.button {
  margin: 5px;
  width: 121px;
  height: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: var(--popraw);
  color: var(--second-primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: white;
  background-color: var(--primary-color);
  box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014, 0px 2px 2px #0000001f;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--third-primary-color);
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 4px;
  padding-right: 24px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  row-gap: 50px;
  column-gap: 30px;
  padding-bottom: 94px;
}

.card-items {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-items:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-items:hover .card-text {
  transform: translateY(-100%);
}

.card-border {
  border: 1px solid var(--border-color);
  border-top: 0px;
}

.card-container {
  width: 370px;
  height: 294px;
  overflow: hidden;
  position: relative;
}

.card-text {
  position: absolute;
  background-color: var(--primary-color);
  color: var(--basic-white-color);
  opacity: 90%;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  font-weight: 400;
  font-family: 'roboto';
  font-style: 'regular';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms ease;
}

.card-container:hover .card-text {
  transform: translateY(-100%);
}

.card-image {
  vertical-align: middle;
}

.contact-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.atuts-icon {
  fill: #212121;
  transition: 250ms;
}

.atuts-icon:hover {
  fill: var(--primary-color);
  transition: 250ms;
}

.lorem-icon {
  padding: 25px 102.34px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.lorem-icon2 {
  padding: 25px 101.54px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.lorem-icon3 {
  padding: 33.2px 100px 33.11px 100px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.lorem-icon4 {
  padding: 30.23px 115.17px 29.11px 100px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.social-icons {
  padding: 16px 22px 30px 32px;
  justify-content: center;
  align-items: center;
}

.pure-list {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  padding: 0px 32px 30px 32px;
}

.sm-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-icons {
  fill: var(--social-links-color);
}

.sm-circle:hover > .sm-icons,
.sm-circle:focus > .sm-icons {
  fill: var(--basic-white-color);
}

.sm-circle:hover,
.sm-circle:focus {
  background-color: var(--primary-color);
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Our clinets section */

.our-clients {
  background-color: var(--basic-white-color);
}

.header-section {
  text-align: center;
  color: var(--second-primary-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.our-clients-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.clients-link {
  border-radius: 4px;
  outline: 1px solid var(--social-links-color);
  padding: 16px 32px;
  display: block;
  color: var(--social-links-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--primary-color);
  outline-color: var(--primary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client {
  display: block;
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Join us section */

.social-box {
  text-align: left;
}

.social-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 0px;
  color: var(--basic-white-color);
}

.social-icon-box {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.list-item {
  list-style: none;
}

.social-link {
  display: block;
  padding: 12px;
  background-color: var(--gray-color);
  border-radius: 50%;
  color: var(--basic-white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social {
  width: 20px;
  height: 20px;
  display: block;
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--primary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-flex {
  display: flex;
  justify-content: left;
  gap: 70px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.newsletter-sign {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 20px;
  color: var(--basic-white-color);
}

.newsletter-email {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--social-links-color);
  background-color: var(--footer-and-section-color);
  padding-left: 16px;
}

.newsletter-name {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border-radius: 4px;
  color: var(--basic-white-color);
  background-color: var(--primary-color);
  border: none;
  position: relative;
}

.newsletter-name:hover {
  cursor: pointer;
}

.newsletter-icon {
  top: 13px;
  left: 148px;
  position: absolute;
  fill: var(--basic-white-color);
}

.order-servise-form {
  display: flex;
  flex-direction: column;
}

.order-servise-form p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--second-primary-color);
  margin-bottom: 2px;
  padding-top: 40px;
}

.form-label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: var(--third-primary-color);
  margin-top: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 40px;
  padding-right: 40px;
}

.form-label:hover,
.form-label:focus {
  fill: var(--primary-color);
}

.form-label:has(.form-input:focus) .form-svg {
  fill: var(--primary-color);
}

.form-input {
  padding: 8px;
  font-family: inherit;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  color: var(--third-primary-color);
  outline: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover {
  border-color: var(--primary-color);
  outline: transparent;
}

.form-x-button {
  fill: var(--second-primary-color) solid;
}

.form-svg {
  position: absolute;
  top: 38px;
  left: 55px;
  transform: translateY(-50%);
}
.form-svg:focus,
.form-svg:hover {
  fill: var(--primary-color);
}

.form-textarea {
  height: 120px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  border-radius: 4px;
  color: var(--third-primary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 12px 16px;
}

.form-textarea:focus,
.form-textarea:hover {
  border-color: var(--primary-color);
}

.acceptance {
  margin: 0 auto;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: var(--third-primary-color);
}

.submit-button {
  margin-top: 30px;
  margin-left: 164px;
}

.rules {
  color: var(--primary-color);
  text-decoration: underline;
  font-size: 14px;
}

.checkbox-original {
  opacity: 0;
  margin-right: 9px;
  padding-right: 9px;
  appearance: none;
}

input[type='checkbox']:checked {
  background-color: var(--primary-color);
}

.checkbox-svg {
  position: absolute;
  left: 0px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--basic-white-color);
  border: 1px solid var(--second-primary-color);
  border-radius: 2px;
}

.checkbox-original:checked + .checkbox-svg {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
