.nav {
  border-bottom: 2px solid #ececec;
  display: flex;
  align-items: center;
}

.nav__wrapper {
  display: flex;
  align-items: center;
}

.nav__item {
  margin: 32px 0;
  list-style: none;
}

.nav__menu {
  color: var(--second-primary-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.02em;
  border-radius: 2px;
  padding: 32px 0;
  transition: var(--cubic);
}

.nav__menu--active {
  border-bottom: 4px solid var(--primary-color);
}
